extends layout.pug


block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back Home ||
    a(href=`/project/`+ nextProject)  next project →

  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= curProject.project_name

        p.lead.text-light= curProject.description

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
        each val in curProject.technologies
          li= val
        if curProject.id !== 6
          a.button.expanded(href=`${curProject.live_link}` target="_blank") live Demo
        else
          a.button.expanded(href=`#` disabled) No Demo
        a.button.expanded(href=`${curProject.github_link}` target="_blank") Github
    

    ul
      each imag in curProject.image_urls
        img(src= imag).littleSpaceImg

